<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{{ the_title }}</title>


	<!-- note the special href for files in the Flask "static" folder -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

</head>

<body>

<div id="container">

  <!-- Jinja2 directives: page contents will go between them -->
  {% block body %}
  {% endblock %}

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

</script>

</body>
<footer>TruthRepo by Hailey Anderton. See the Github Repo <a href="https://github.com/haileyanderton/truthrepo">here</a>.</footer>

</html>
