{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{ super() }}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}


{% block title %}
Topic List
{% endblock %}


{% block content %}

<div class="container">
  <div class="row">
    <div class="col-xs-12">

      <h1>Topic</h1>

      <p class="lead">You selected <strong>"{{ topic }}"</strong>.</p>

			<ul>
				<!-- here is a for-loop to give us all the socks -->
				{% for topic in topics %}

				<li><a href="{{ url_for('topic', id=topic.topic_id) }}">{{ topic }}</a></li>


				{% endfor %}
			</ul>

		</div>
	</div>
</div>

{% endblock %}
