{% extends 'bootstrap/base.html' %}

{% block styles %}
{{ super() }}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}


{% block title %}
Selected Sock: {{ the_topic }}
{% endblock %}


{% block content %}

<div class="container">
  <div class="row">
    <div class="col-xs-12">

      <!-- note, the id is not used _in_ the template, although the
		       route requires the id -->

      <h1>{{ verses }}</h1>

			 <ul>
				<li class="lead"><strong>Verse 1:</strong> {{ verses.verse }}</li>
				<li class="lead"><strong>Verse 2:</strong> {{ verses.verse }}</li>
				<li class="lead"><strong>Verse 3:</strong> {{ verses.verse }}</li>
				<li class="lead"><strong>Quote 1:</strong> ${{ the_sock.price }}</li>
				<li class="lead"><strong>Quote 2:</strong> {{ the_sock.updated }}</li>
			</ul>

      <p><a href="{{ url_for('index') }}">Return to search page</a></p>

      <!-- notice how the URL in the link above is rendered for
           Flask - it needs to name the FUNCTION, not the route
					 and NOT the template!
      -->

    </div>
  </div>
</div>

{% endblock %}
