{% extends 'bootstrap/base.html' %}

{% block styles %}
{{ super() }}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}


{% block title %}
Selected Sock: {{ topic_info.topic }}
{% endblock %}


{% block content %}

<div class="container">
  <div class="row">
    <div class="col-xs-12">

      <!-- note, the id is not used _in_ the template, although the
		       route requires the id -->

      <h1>{{ topic_info.topic }}</h1>

			 <ul>

				{% for verse in verse_info %}

 				<li>{{ verse_info }}</li>


 				{% endfor %}

			</ul>


				<li class="lead"> {{ verse_info }} </li>

				<li class="lead">{{ quote_info }}</li>
			</ul>

      <p><a href="{{ url_for('index') }}">Return to search page</a></p>


    </div>
  </div>
</div>

{% endblock %}
